<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{ page_title }}{% endblock %} Stack Overflow - Where Developers Learn, Share & Build Careers</title>
    <meta name="description" content="Stackoverflow-lite">
    <meta name="author" content="blairt001">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block css %}{% endblock %}
     <link rel="stylesheet" href="{{url_for('static', filename = 'assets/bootstrap-3.3.5/css/bootstrap.min.css')}}">
  <!-- Bootstrap Optional Theme-->
     <link rel="stylesheet" href="{{ url_for('static', filename= 'assets/bootstrap-3.3.5/css/bootstrap-theme.min.css') }}">
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/styles.css')}}">

    <!--<link rel="stylesheet" href="#./css/styles.css">-->
</head>
<body>
  <nav class="navbar navbar-inverse"> 
    <section class="container">
      <header class="navbar-header">
        <a href="index.html" class="navbar-brand">
          <img src="{{url_for('static', filename='assets/images/logo.png')}}" width="150px" />
        </a>
      </header>
        {% block body %}{% endblock %}
    </div>
</body>
{% block js %}{% endblock %}
<script src="{{url_for('static', filename='assets/jquery-2.1.4/jquery.min.js')}}"></script>
   <!-- JavaScript-->
  <script src="{{url_for('static', filename='assets/bootstrap-3.3.5-js/bootstrap.min.js')}}"></script>
</html>