{% extends 'frontend.html' %}

{% block body %}
        <div class="container">
            <div class="col-4">&nbsp;</div>
            <div class="card card-signup col-4">
                   <div class="header hatch header-text header-primary">
                       Stack-Overflow-lite
                    </div>
                    <div class="form-container mt-20 p-15">

                        <div class="form-group">
                            <a href="https://blairt001.github.io/StackOverflow-lite/UI/" target="_blank" class="text-white">
                                <button class="floating header-text btn btn-primary bg-orange p-15 btn-block">
                                    <b>Stack-Overflow-lite User Interface</b>
                                </button>
                            </a>
                        </div>

                        <div class="form-group">
                            <a href="/api/v1/questions/answers" target="_blank" class="text-white">
                                <button class="floating header-text btn btn-primary bg-orange p-15 btn-block">
                                    <b>Stack-Overflow-lite API Endpoints</b>
                                </button>
                            </a>
                        </div>      
                        
                        <div class="form-group">
                            <a href="https://www.pivotaltracker.com/n/projects/2234206" target="_blank" class="text-white">
                                <button class="floating header-text btn btn-primary bg-orange p-15 btn-block">
                                    <b>Stack-Overflow-lite Pivotal Stories</b>
                                </button>
                            </a>
                        </div>     
                    </div>
            </div>
            <div class="col-4">&nbsp;</div>
        </div>
{% endblock %}
